.toast-main-div {
    display: flex;
    justify-content: space-between;
}
.toast-msg-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.like-form-div {
    display: flex;
    flex-direction: column;
    background: #dedede;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}